<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Hello</p>
    <a th:href="@{/orderNewDC}">Order new debit card</a>
    <br>
    <a th:href="@{/orderNewS}">Order new saving</a>
    <br>
    <a th:href="@{/update}">Change account data</a>
    <br>
    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')" th:href="@{/register}">Create new account</a>
    <br sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_OWNER')">
    <a th:href="@{/transfer/debitToDebit}">Transfer from one debit card to another</a>
    <br>
    <a th:href="@{/transfer/debitToSaving}">Transfer from debit card to saving</a>
    <br>
    <a th:href="@{/transfer/savingToDebit}">Transfer from saving to debit card</a>
</body>
</html>